@media screen and (max-width: 555px) {
	.intro_box h4 {
		font-size: 1.2rem;
	}
	.intro_box span:first-child {
		font-size: 3rem;
	}
	.intro_box span:last-child {
		font-size: 2rem;
	}
	.self_description {
		font-size: 1rem;
	}
}
@media screen and (max-width: 992px) {
	#navbarSupportedContent {
		background-color: var(--color-second);
		padding: 8px 16px;
	}
}
@media screen and (max-width: 768px) {
	.portfolio_item {
		height: 260px;
	}
}
@media screen and (max-width: 576px) {
	.portfolio_item {
		width: 100%;
		height: 300px;
	}
}
