/*
COLORS --
    Primary Color - #FFBE00
    BG Color - #010101

*/
/* VARIABLES */
:root {
	--color-main: #ffbe00;
	--color-second: #010101;
	--color-white: #f1efef;
}

/* ========== GENERAL STYLES ============ */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--color-second);
	color: var(--color-white);
	font-family: "IBM Plex Sans", sans-serif;
}

/* ================= NAVBAR START ==================  */
.header_section {
	background: url(../images/hero-bg-m.jpg) center center/cover;
	min-height: min-content;
	position: relative;
	padding-bottom: 20px;
}
.header_section::after {
	content: "";
	background-color: rgba(1, 1, 1, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.nav_logo {
	height: 40px;
}
.nav-link.active {
	color: var(--color-main) !important;
}
.nav-link {
	text-transform: uppercase;
	font-weight: 500;
}
.navbar {
	z-index: 9;
	transition: 0.5s;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
}
.navbar.sticky {
	position: fixed;
	background-color: #010101;
	padding: 10px 0;
}
.custom_togle_icon {
	position: relative;
	display: flex;
	align-items: center;
	width: 55px;
	height: 45px;
	transition: 0.4s ease-in-out;
}
.icon_bar {
	width: 35px;
	height: 3px;
	background-color: var(--color-white);
	border-radius: 3px;
	transition: 0.5s ease-in-out;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.icon_bar::before,
.icon_bar::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 3px;
	background-color: var(--color-white);
	border-radius: 3px;
	transition: 0.5s ease-in-out;
	left: 0;
}
.icon_bar::before {
	transform: translateY(-12px);
}
.icon_bar::after {
	transform: translateY(12px);
}
.custom_togle_icon.open .icon_bar {
	background: transparent;
}
.custom_togle_icon.open .icon_bar::before {
	transform: rotate(42deg);
}
.custom_togle_icon.open .icon_bar::after {
	transform: rotate(-42deg);
}

/* ================= NAVBAR END ==================  */

/* <!-- ================ HERO SECTION START ==============  --> */
.hero_section {
	z-index: 3;
	position: relative;
}
.intro_box h4 {
	font-size: 1.8rem;
	font-weight: 500;
}
.intro_box span:first-child {
	display: block;
	font-size: 5rem;
}
.intro_box span:last-child {
	display: block;
	font-size: 3rem;
}
.self_description {
	font-size: 1.2rem;
	font-weight: normal;
	color: #eee;
}
.hero_btn {
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px 35px;
}
/* <!-- ================ HERO SECTION END ==============  --> */

/* =========== PORTFOLIO SECTION START =============== */
.portfolio_item {
	width: 100%;
	height: calc(100px + 13vw);
	max-height: 300px;

	background-image: var(--bg-img);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #dddcdc;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transform: 0.3s;
	transition: 0.3s;
}
.portfolio_item:hover {
	border: 3px solid;
	transform: scale(0.8) rotate(-15deg);
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.705);
}

.portfolio_item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0101018a;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transform: 0.3s;
}
.portfolio_item button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: max-content;

	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
}
.portfolio_item:hover::after {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}
.portfolio_item:hover button {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	height: 40px;
}
.portfolio_item button:hover {
	box-shadow: inset 8.5em 0 0 0 #f1efef;
	color: #010101 !important;
}
/* =========== PORTFOLIO SECTION END =============== */

/* =========== SERVICES SECTION START =============== */
.services_section {
	background-color: var(--color-main);
	padding-bottom: 100px;
}
.service_card_container {
	margin-top: 70px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	justify-content: center;
	align-content: space-around;
}
.service_card_container_2 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.service_card {
	transform: rotate(315deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	text-align: center;
}
.service_card_outer {
	background-color: var(--color-white);
	color: var(--color-second);
	max-width: min-content;
	border-radius: 10px;
	transform: rotate(45deg);

	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.service_card_container_2 .service_card_outer:nth-child(1) {
	position: relative;
	left: 94px;
}
.service_card_container_2 .service_card_outer:nth-child(2) {
	position: relative;
	left: -94px;
}

.service_img {
	height: 60px;
}
.service_btn {
	color: var(--color-second);
	border: 1px solid var(--color-second);
	border-radius: 50px;
	padding: 5px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}
.service_btn:hover {
	color: rgb(79, 136, 243);
	border-color: rgb(79, 136, 243);
}
.services_section .col-lg-4 {
	display: flex;
	justify-content: center;
}
/* =========== SERVICES SECTION END =============== */

/* =========== CONTACT SECTION START =============== */
.contact_form .input-group-text,
.contact_form input,
.contact_form input:focus,
.contact_form textarea,
.contact_form textarea:focus {
	background-color: #b6d3e9;
	color: var(--color-second);
	font-size: 18px;
}
.contact_form .input-group-text {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 25px;
}

.contact_form input {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.btn_submit {
	width: 100%;
	background-color: rgb(91, 152, 199);
	color: var(--color-second);
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 50px;
	padding: 10px;
}
.btn_submit:hover {
	background-color: #398dcd;
	color: var(--color-second);
}
.bg_area {
	background-image: url(../images/blob.svg);
	background-size: cover;
}
/* =========== CONTACT SECTION END =============== */
/* FOOTER */
.footer_section {
	background-color: #232020;
}

.back_to_top {
	background-color: var(--color-white);
	width: 50px;
	height: 50px;
	display: grid;
	place-items: center;

	color: var(--color-second);
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.page_progress {
	--progress-percent: 0%;
	width: 60px;
	height: 60px;
	z-index: 1000;

	position: fixed;
	bottom: 40px;
	right: 40px;
	display: grid;
	place-items: center;
	border-radius: 50%;

	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: 0.8s;

	background-image: conic-gradient(
		#398dcd var(--progress-percent),
		transparent 0%
	);
}
.page_progress.show {
	opacity: 1;
	pointer-events: all;
	visibility: visible;
	z-index: 2;
}

/* COMPONENTS */
.main_btn {
	background-color: var(--color-main);
	color: var(--color-second);
}
.main_btn:hover,
.main_btn:active {
	background-color: #e0ab0b;
	color: var(--color-second);
}

/* UTILITY CLASSES */
.color_main {
	color: var(--color-main);
}
img {
	max-width: 100%;
}
.text-14 {
	font-size: 14px;
}
input,
textarea {
	box-shadow: none !important;
}
